aiohttp==3.11.12
beautifulsoup4==4.14.2
Flask==3.1.2
Flask_Caching==2.3.0
lxml==5.3.0
numpy==1.23.5
pandas==2.3.3
Requests==2.32.5
soynlp==0.0.493
ta==0.11.0
urllib3==2.5.0
wordcloud==1.9.4
yfinance==0.2.61
math
